@model LinkViewModel
@{
    ViewData["Title"] = "Orders Details";
}
<style>
    table, tr, td {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<h1>@ViewData["Title"]</h1>
<div class="form-control-static">@Html.LabelFor(model => model.CustomerViewModel.CstmFirstName): @Html.TextBoxFor(model => model.CustomerViewModel.CstmFirstName)</div>
<div class="form-control-static">@Html.LabelFor(model => model.CustomerViewModel.CstmLastName): @Html.TextBoxFor(model => model.CustomerViewModel.CstmLastName)</div>
<div class="form-control-static">@Html.LabelFor(model => model.LocationList): @Html.DropDownListFor(model => model.SelectedLocation, Model.LocationList, "Select Location")</div>
<div class="form-control-static">@Html.LabelFor(model => model.MakeDefault) @Html.CheckBoxFor(model => model.MakeDefault)</div>
<div class="form-control-static">@Html.LabelFor(model => model.ProductList) @Html.ListBoxFor(model => model.SelectedProduct, Model.ProductList, new { size=10, @class="form-control", style="width:400px"})</div>
<div class="form-control-static"><a>Add Item</a></div>