@model CustomerViewModel
@{
    ViewData["Title"] = "Customer";
}
<h1>@ViewData["Title"]</h1>

@if (Model.CstmId == 0)
{
    <p>Enter the first name and last name of a customer you wish to search/add:</p>
    <div>
        <form asp-action="Index" method="GET" class="form-inline">
            <label class="sr-only" for="search">Search:</label>
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
            <div>
                <button type="submit" class="btn btn-primary form-control-static">Search</button>
                <button type="submit" class="btn btn-primary form-control-static" asp-action="AddCustomer">Add Customer</button>
            </div>
        </form>
    </div>
}
@if (Model.CstmId > 0)
{
    <div class="form-control-static">@Html.LabelFor(model => model.CstmId): @Html.DisplayFor(model => model.CstmId)</div>
    <div class="form-control-static">@Html.LabelFor(model => model.CstmFirstName): @Html.DisplayFor(model => model.CstmFirstName)</div>
    <div class="form-control-static">@Html.LabelFor(model => model.CstmLastName): @Html.DisplayFor(model => model.CstmLastName)</div>
    <div class="form-control-static">@Html.LabelFor(model => model.CstmEmail): @Html.DisplayFor(model => model.CstmEmail)</div>
    <div class="form-control-static">@Html.LabelFor(model => model.CstmDefaultLocation): @Html.DisplayFor(model => model.CstmDefaultLocation)</div>
    <a asp-action="Index">Back to Search</a>
}

@if (Model.CstmId == -1)
{
    <br />
    <div>
        <p>The customer does not exist in our Database. Would you like to add them?</p>
        <a style="padding:10px" asp-action="AddCustomer">Add Customer</a>  <a style="padding:10px" asp-action="Index">Back to Search</a>
    </div>
}






