@model CustomerViewModel
@{
    ViewData["Title"] = "Customer";
}
<h1>@ViewData["Title"]</h1>

@if (Model.CstmId == 0)
{
    <p>Enter the first name and last name of a customer you wish to search/add:</p>
    <div>
        <form asp-action="Index" method="GET" class="form-inline">
            <label class="sr-only" for="search">Search:</label>
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}
@if (Model.CstmId > 0)
{
    <div>
        <table>
            <tr>
                <td>Customer ID: </td>
                <td>@Html.DisplayFor(model => model.CstmId)</td>
            </tr>
            <tr>
                <td>First Name: </td>
                <td>@Html.DisplayFor(model => model.CstmFirstName)</td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>@Html.DisplayFor(model => model.CstmLastName)</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>@Html.DisplayFor(model => model.CstmEmail)</td>
            </tr>
            <tr>
                <td>Default Location: </td>
                <td>@Html.DisplayFor(model => model.CstmDefaultLocation)</td>
            </tr>
        </table>
    </div>
    <a style="padding:10px" asp-action="Index">Back to Search</a>
}

@if (Model.CstmId == -1)
{
    <br />
    <div>
        <p>The customer does not exist in our Database. Would you like to add them?</p>
        <a style="padding:10px" asp-action="AddCustomer">Add Customer</a>  <a style="padding:10px" asp-action="Index">Back to Search</a>
    </div>
}






